* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./imgs/sunset.jpg');
    background-size: cover;
}

.container {
    height: 80vh;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#rightSide, #leftSide {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
}

#blur {
   filter: blur(5px);
}

label {
    font-size: 1.4rem;
    font-weight: bold;
}

